<div id="animal-list">
  <div class="tabs">
    <input type="radio" id="tab1" name="tab-control" checked>
    <input type="radio" id="tab2" name="tab-control">
    <input type="radio" id="tab3" name="tab-control">  
    <input type="radio" id="tab4" name="tab-control">
    <ul>
      <li title="Fur"><label for="tab1" role="button"><span><i class="fad fa-monkey"></i> Fur</span></label></li>
      <li title="Feathers"><label for="tab2" role="button"><span><i class="fad fa-crow"></i> Feathers</span></label></li>
      <li title="Scales"><label for="tab3" role="button"><i class="fad fa-snake"></i> <span>Scales</span></label></li>    
      <li title="Other"><label for="tab4" role="button"><i class="fad fa-spider-black-widow"></i> <span>Other</span></label></li>
    </ul>
    
    <div class="slider"><div class="indicator"></div></div>
    <div class="content">
    
    <!--Fur Tab-->
      <section>
        <div class="toolbar">
          <input id="fur-filter" class="filter" placeholder="Search 'Fur' Animals" />
          <button id="AddNewAnimal" class="btn ko-btn btn-left float-right"><i class="fad fa-plus"></i> Add Animal</button>
          <button id="InspectionReport" class="btn ko-btn btn-right float-right"><i class="fad fa-print-search"></i> Start Inspection Report</button>
        </div>
        <!--Fur Animal List-->
        <div class="list-container">
          <h2 *ngIf="!animalsFur" class="text-center mt-3">No animals found. Add more to your manajore using the 'Add Animal' button above.</h2>
          <ng-template ngIf="animalsFur">
            <div *ngFor="let animalFur of animalsFur" class="animal-row">
              <img src="{{'/assets/animals/list/' + (animalFur.name | lowercase) + '.png'}}" alt="{{ animalFur.name }}" />
              <div class="animal-info">
                <p class="animal-name"><i class="fad fa-monkey"></i> {{ animalFur.name }} ({{ animalFur.nickname }})</p>
                <div class="row">
                  <div id="species" class="col">
                    <p id="species-text"><i class="fad fa-paw-claws"></i> <span>{{ animalFur.speciesName }}</span></p>
                  </div>
                  <div class="col">
                    <p><i class="fad fa-paw"></i> <span>{{ animalFur.subSpeciesName }}</span></p>
                  </div>
                  <div class="col">
                    <p><i class="fad fa-home-heart"></i> <span>{{ animalFur.adoptionDate | date: 'dd MMM yyyy' }}</span></p>
                  </div>
                  <div class="col">
                    <p><i class="fad fa-watch-fitness"></i> <span>{{ animalFur.age }} Years</span></p>
                  </div>
                  <div class="col">
                    <p><i class="fad fa-hotel"></i> <span>{{ animalFur.enclosureName }}</span></p>
                  </div>
                  <div class="col">
                    <p><i class="fad fa-smile"></i> <span>{{ animalFur.temperament }}</span></p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </section>

      <!--Feather Tab-->
      <section>
        <div class="toolbar">
          <input id="feather-filter" class="filter" placeholder="Search 'Feather' Animals" />
          <button id="AddNewAnimal" class="btn ko-btn btn-left float-right"><i class="fad fa-plus"></i> Add Animal</button>
          <button id="InspectionReport" class="btn ko-btn btn-right float-right"><i class="fad fa-print-search"></i> Start Inspection Report</button>
        </div>
      </section>

      <!--Scales Tab-->
      <section>
        <div class="toolbar">
          <input id="scales-filter" class="filter" placeholder="Search 'Scale' Animals" />
          <button id="AddNewAnimal" class="btn ko-btn btn-left float-right"><i class="fad fa-plus"></i> Add Animal</button>
          <button id="InspectionReport" class="btn ko-btn btn-right float-right"><i class="fad fa-print-search"></i> Start Inspection Report</button>
        </div>
      </section>

      <!--Other Tab-->
      <section>
        <div class="toolbar">
          <input id="other-filter" class="filter" placeholder="Search 'Other' Animals" />
          <button id="AddNewAnimal" class="btn ko-btn btn-left float-right"><i class="fad fa-plus"></i> Add Animal</button>
          <button id="InspectionReport" class="btn ko-btn btn-right float-right"><i class="fad fa-print-search"></i> Start Inspection Report</button>
        </div>
      </section>
    </div>
  </div>
</div>